ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
address {
  font-style: normal;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
p,
h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
  margin-bottom: 0;
}
/* _______________________________ */

.header {
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-navigation {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;

  /* line-height: 21px; */
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 76px;
}
.header-logo-span {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;

  /* line-height: 21px; */
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header-menu {
  display: flex;
  align-items: center;
  gap: 40px;
}

.link-menu-item {
  font-weight: 500;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
}

.link-menu-item:hover {
  color: #404bbf;
}
.link-menu-item:focus {
  color: #404bbf;
}
.header-menu-address {
  margin-left: auto;
}
.header-menu-contacts {
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  display: flex;
  align-items: center;
}

.header-menu-contacts {
  gap: 40px;
}
.header-menu-contacts-item {
  display: block;
  padding: 24px 0;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.header-menu-contacts-item:hover {
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
}
.header-menu-contacts-item:focus {
  color: #404bbf;
}

.head-title {
  font-weight: 700;
  font-size: 56px;

  /* line-height: 60px; */
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;

  margin: 0 auto;
  margin-bottom: 48px;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
}
.head-title-section {
  background-color: #2e2f42;
  padding: 188px 0;
}
.container .btn {
  font-weight: 500;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  border: none;
  display: block;
  margin: 0 auto;
}
.btn:hover {
  background-color: #404bbf;
}
.btn:focus {
  background-color: #404bbf;
}
.main-section {
  padding: 120px 0;
}

.main-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

/* .main-list-container {
  padding-top: 120px;
  padding-bottom: 120px;
} */
.main-list-detail {
  width: calc((100% - 72px) / 4);
}
.main-list-item {
  margin-bottom: 8px;
}
.section-subtitle {
  font-weight: 500;
  font-size: 20px;

  /* line-height: 24px; */
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.subtitle-text {
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.section-team {
  background-color: #f4f4fd;
  padding: 120px 0;
}
/* .team-container {
  padding-bottom: 120px;
  padding-top: 120px;
} */
.user-text-block {
  padding: 32px 0;
}
.users-subtitle {
  text-transform: capitalize;
  margin-bottom: 72px;
}
.user-front {
  font-weight: 500;
  font-size: 20px;

  /* line-height: 24px; */
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.user {
  font-weight: 500;
  font-size: 20px;

  /* line-height: 24px; */
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  background: var(--white);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.user-name {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 8px;
}

.users-list {
  background-color: #f4f4fd;
  display: flex;
  align-items: center;
  gap: 24px;
}
.user {
  background-color: #ffffff;
}
/* .user-text {
} */

.section-title {
  font-weight: 700;
  font-size: 36px;

  /* line-height: 40px; */
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.portfolio-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-title-portfolio {
  text-transform: capitalize;
  /* padding-top: 120px; */
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 48px 19px;
  column-gap: 24px;
}
.portfolio-card {
  background: var(--white);
  border: 1px solid var(--cornflower);
  border-top: none;
}

.portfolio-text-block {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.portfolio-subtitle {
  margin-bottom: 8px;
}
.portfolio-subtitle-text {
  margin-top: 0;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-accent {
  color: #f4f4fd;
}
.footer-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0px;
  display: inline-block;
  padding-bottom: 0;
  padding-top: 0;
  margin-right: 0;
  margin-bottom: 16px;
}
.footer-text {
  max-width: 264px;
}
